<app-addnewitem *ngIf="isAddNewItemOpen" (cancelWindow)="closeAddNewWindow($event)">

</app-addnewitem>

<div class="card-flex">
  <div class="example-card"
    *ngFor="let card of picturesList; index as i;">
      <img mat-card-image src="{{card.pictureUrl}}" alt="{{card.title}}" (click)="editCurrentItem(i)">
      <div class="content">
        <p (mousedown)="editCurrentItem(i)">
          {{card.title}}
        </p>
        <form class="example-form" *ngIf="isEdit(i)" #tempPictureObj>
            <mat-form-field>
              <input name="pictureUrlInput" matInput class="example-full-width" placeholder="Url address" required
                     [formControl]="urlFormControl"
                     (blur)="saveValue($event.target)"
                     (keyup)="saveValue($event.target)">
              <mat-error *ngIf="urlFormControl.hasError('url') && !urlFormControl.hasError('required')">
                Please enter a valid url address
              </mat-error>
              <!--<mat-error *ngIf="urlFormControl.hasError('required')">-->
                <!--URL is <strong>required</strong>-->
              <!--</mat-error>-->
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input name="tooltipInput" matInput #message maxlength="42" placeholder="Tooltip" required
                     (blur)="saveValue($event.target)"
                     (keyup)="saveValue($event.target)">
              <mat-hint align="end">{{message.value.length}} / 42</mat-hint>
            </mat-form-field>
        </form>
      </div>
    </div>
</div>

<div class="button-wrapper">
    <button mat-fab color="primary" (click)="switchToPreviewMode()">
        <mat-icon aria-label="Switch to preview mode">home</mat-icon>
    </button>
    <button mat-fab (click)="addNewItem()">
        <mat-icon aria-label="Add element">add</mat-icon>
    </button>
    <div class="manage-buttons" *ngIf="(chosenItem + 1)">
      <button mat-fab (click)="saveCurrentItemChanges()">
          <mat-icon aria-label="Save element">save</mat-icon>
      </button>
      <button mat-fab (click)="deleteSelectedItem()">
          <mat-icon aria-label="Delete element">delete</mat-icon>
      </button>
    </div>
  </div>
