<mat-grid-list cols="3" rowHeight="200px">
    <mat-grid-tile
        *ngFor="let tile of pictureList"><!-- | async - pipe should be used for promise response -->
        <img src="{{tile.pictureUrl}}" alt="{{tile.title}}">
        <mat-grid-tile-footer>
            {{tile.title}}
        </mat-grid-tile-footer>
    </mat-grid-tile>
</mat-grid-list>

<div class="button-wrapper">
    <button mat-fab color="primary" (click)="switchToEditor()">
        <mat-icon aria-label="Switch to editor mode">settings</mat-icon>
    </button>
</div>